body{
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    background: beige;
    background-image: url('https://images.unsplash.com/photo-1484100356142-db6ab6244067?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cmFuZG9tfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.card {
    background: aliceblue;
    padding: 2em;
    border-radius: 40px;
    width: 100;
    max-width: 420px;
    width: 100%;
}
.search {
    justify-content: center;
    display: flex;
    align-items: center;
}

button {
    height: 2em;
    border: none;
    border-radius: 50%;
    margin: 0.5rem;
    width: 4em;
    outline: 'none';
}

input.search-bar {
    border: none;
    outline: none;
    border-radius: 21%;
    padding: 0.5em;
    font-size:80%;
    width:100%
}